<!DOCTYPE html>
<html>
<head>
  <title>ChotuAsia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/flash_messages' if !flash.empty? %>
 <div id="nav">
 <% if current_user %>
 	<%= link_to "Logout", logout_url, method: :delete%>
 <% else %>
 	<%= link_to "Login", login_path%>
	<%= link_to "Register", new_user_path%>
 <% end %>
</div> 

<%= yield %>

</body>
</html>
